:root {
  --main-color: #c2b490;
  --secondary-color: #acb7ae;
  --third-color: #e4decd;
  --fourth-color: #82716e;
  --button-hover: #63504d;
  --post-color: #b8bad6;
  --danger-color: #af3030;
  --danger-color-hovor: #5f1c1c;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: var(--main-color);
  padding-bottom: 80px;
}

header {
  background-color: var(--third-color);
  color: black;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  margin-right: 30px;
}

nav ul li {
  display: inline;
  margin: 0 15px;
  font-size: 18px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(75, 88, 51);
}

footer {
  background-color: var(--third-color);
  color: black;
  text-align: center;
  padding: 7px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  padding: 25px;
  background-color: var(--secondary-color);
  margin: 25px auto;
  border-radius: 5px;
  max-width: 900px;
}

.form-content {
  margin-bottom: 25px;
}

.form-content label {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.form-content input,
.form-content textarea {
  width: 98%;
  padding: 10px;
  font-family: inherit;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid var(--fourth-color);
  background-color: rgba(255, 255, 255, 0.75);
  outline: none;
}

.form-content textarea {
  resize: none;
  height: 150px;
}

.btn {
  background-color: var(--fourth-color);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 15px;
}

.btn:hover {
  background-color: var(--button-hover);
}

.btn-danger {
  background-color: var(--danger-color);
}

.btn-danger:hover {
  background-color: var(--danger-color-hovor);
}

#post-content,
#post-title {
  margin: 10px 0;
  line-height: 1.5;
}

.image-upload {
  margin-top: 10px;
}

.paste-area {
  width: 96%;
  height: 100px;
  border: 2px dashed var(--fourth-color);
  padding: 20px;
  margin-top: 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paste-area:empty::before {
  content: "Click or paste an image here";
  color: #272626;
}

.paste-area.has-image::before {
  content: "Image Chosen";
  color: #383737;
}

.paste-area:focus {
  outline: none;
}

.post {
  background-color: var(--post-color);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.post h3 {
  margin-top: 0;
}

.post-actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

#post-edit {
  display: none;
}

.post-date {
  color: var(--fourth-color);
  margin-bottom: 10px;
  font-style: italic;
}

.post-image {
  max-width: 100%;
  margin: 15px 0;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#post-date {
  color: var(--fourth-color);
  font-style: italic;
  margin-bottom: 15px;
}

#post-content {
  margin: 20px 0;
  line-height: 1.5;
}

input[type="file"] {
  display: none;
}

.image-preview {
  margin: 15px;
  max-width: 100%;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  max-height: 350px;
  border-radius: 3px;
}

.remove-image-btn {
  display: block;
  background-color: var(--danger-color);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 10px auto;
  cursor: pointer;
}

.remove-image-btn:hover {
  background-color: var(--danger-color-hovor);
}

label {
  font-size: 20px;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  header,
  footer {
    padding: 10px;
  }

  nav ul li {
    display: block;
    text-align: center;
    margin: 5px 0;
  }

  section {
    padding: 10px;
    margin: 10px;
  }
}
